<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/code/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/svg" href="/static/favicon.svg">
    <script src="/static/code/scripts.js"></script>
    <title>Zarządzaj: {{ classroom_name }}</title>
</head>
<body>
    <h1>{{ classroom_name }}</h1>
    <h2>{{ header }}</h2>
    <h3>{{ floor }}</h3>
    <div id="status-{{ classroom_id }}" class="{{ style }} tabela_content">
       {% if sala_zajeta[classroom_id] %}
         Zajęte
       {% else %}
         Wolne
       {% endif %}
    </div>
    <input class="przyciskacz"
       type="button"
       id="button-{{ classroom_id }}"
       value="{{ text }}"
       classroomid="{{ classroom_id }}">
</body>
</html>
