<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>DNI OTWARTE ROZPISKA KLAS</title>
  <link href="./static/code/style.css" rel="stylesheet" type="text/css">
</head>


{# 
parter_technikum = [0, 1, 2, 3, 4, 5]
pietro_technikum = [6, 7, 8, 9, 10, 11]
parter_liceum = [12, 13, 14, 15, 16]
pietro_liceum = [17, 18, 19, 20, 21, 22]
pozostale = [23, 24, 25]
nazwy_sal: dict[int: str] = {0: "L0.07", 1: "L0.09", 2: "L0.10", 3: "L0.11", 4: "L0.13", 5: "L0.14", 6: "L1.06a", 7: "L1.06b",8:"L1.09",9:"L1.10",10:"L1.13",11:"L1.14",12:"G0.07",13:"G0.09",14:"G0.10",15:"G0.13",16:"G0.14",17:"G1.06a",18:"G1.06b",19:"G1.09",20:"G1.10",21:"G1.13",22:"G1.14",23:"S1.22",24:"S1.23",25:"Hala"}
sala:dict[int:str] = {0:'l007',1:'l009',2:'l010',3:'l011',4:'l013',5:'l014',6:'l106a',7:'l106b',8:'l109',9:'l110',10:'l113',11:'l114',12:'g007',13:'g009',14:'g010',15:'g013',16:'g014',17:'g106a',18:'g106b',19:'g109',20:'g110',21:'g113',22:'g114',23:'s122',24:'s123',25:'hala'}
sala_zajeta: dict[int: bool] = {0: False, 1: False, 2: False, 3: False, 4: False, 5: False, 6: False, 7: False,8:False,9:False,10:False,11:False,12:False,13:False,14:False,15:False,16:False,17:False,18:False,19:False,20:False,21:False,22:False,23:False,24:False,25:False} #}


<body>
  <h1>Dni otwarte 2023</h1>
  <h2>Technikum (klasy na literkę L)</h2>
  <h3>Parter</h3>
  <table>
    <tr>
      <th>Klasa</th>
      <th>Status</th>
    </tr>
    {% for classroom in parter_technikum %}
    <tr>
      <td>{{ nazwy_sal[classroom] }}</td>
      <td>{{ sala_zajeta[classroom] }}</td>
    </tr>
    {% endfor %}
  </table>
  <h3>Piętro</h3>
  <table>
    <tr>
      <th>Klasa</th>
      <th>Status</th>
    </tr>
    {% for classroom in pietro_technikum %}
    <tr>
      <td>{{ nazwy_sal[classroom] }}</td>
      <td>{{ sala_zajeta[classroom] }}</td>
    </tr>
    {% endfor %}
  </table>
  <h2>Liceum (klasy na literkę G)</h2>
  <h3>Parter</h3>
  <table>
    <tr>
      <th>Klasa</th>
      <th>Status</th>
    </tr>
    {% for classroom in parter_liceum %}
    <tr>
      <td>{{ nazwy_sal[classroom] }}</td>
      <td>{{ sala_zajeta[classroom] }}</td>
    </tr>
    {% endfor %}
  </table>
  <h3>Piętro</h3>
  <table>
    <tr>
      <th>Klasa</th>
      <th>Status</th>
    </tr>
    {% for classroom in pietro_liceum %}
    <tr>
      <td>{{ nazwy_sal[classroom] }}</td>
      <td>{{ sala_zajeta[classroom] }}</td>
    </tr>
    {% endfor %}
  </table>
  <h2>Pozostałe</h2>
  <table>
    <tr>
      <th>Klasa</th>
      <th>Status</th>
    </tr>
    {% for classroom in pozostale %}
    <tr>
      <td>{{ nazwy_sal[classroom] }}</td>
      <td>{{ sala_zajeta[classroom] }}</td>
    </tr>
    {% endfor %}
  </table>
</body>